

.accordion {
  margin: 10px 0 0;
  width: 100%;
}

.accordion-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
  background-color: #EE6123;
  color: white;
  border-radius: 10px;
}


.accordion-title:hover {
  background-color: #FA003F;
}

.accordion-title,
.accordion-content {
  padding: 0.7rem;
}

.accordion-content {
  background-color: #FA003F;
  color: white;
  border-radius: 10px;
}
.accordion-content-row {
  
}